div {
    display:block;
    padding-bottom: 8px;
    background-color: #f3f3f7;
    box-shadow: 1px 2px #0c0c0c;
    background-color: #98c1f5;
    margin-bottom: 5px;
    /* border-color: #0a0a0a; */
    /* border-width: 10px; */
}
.topBar {
	background-color: blue;
	color: white;
	text-align: center;
}
body {
	background-color: white;
}